li
  .ctn
    h4
      u= listing.company_name
    p Hiring for
      b= listing.designation
    p Who can apply?
      b= listing.target_audience
    p Eligibility criteria:
      b= listing.eligibility_criteria
    p Location of job:
      b= listing.job_location
    p Salary:
      b= listing.salary
    button.btn(id=listing.id) Apply